# Sekrety / lokalna konfiguracja
.env

# nix-shell (generowane przez shellHook w shell.nix)
.zshrc.d/

# Go
backend/server
backend/bin/

# Flutter / Dart
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock

# IDE
.idea/
.vscode/
*.iml
